[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
sphinx = "*"
pytest-cov = "*"
yapf = "*"
sphinx-rtd-theme = "*"
pandas = "*"
scikit-learn = "*"

[packages]
numpy = "*"
bokeh = "*"
predictiveness-curve = {editable = true,path = "."}

[requires]
python_version = "3.7"
